body {
    margin: 0%;
    padding: 0%;
    width:100%;

    background-color:darkgrey;
}

.maintitle {
    position: relative;
    left: 10%;
    height: fit-content;
    width: fit-content;
    font-size: 60px;
    background-color: cyan;
    padding: 30px;
    border-radius: 15px;
    border: solid 2px black;
    font-family: Arial;
    font-weight: bold;
    margin: 10px;

}

.subtitle{
    position: relative;
    left: 16%;
    height: 8px;
    width: fit-content;
    font-size: 8px;
    background-color: lightcyan;
    padding: 8px;
    border-radius: 10px;
    border: solid 1px black;
    z-index: 10;
    opacity: 90%;
    font-family: Georgia;
    font-weight: bolder;
    margin-top: -354px;
}

.subtitle1{
    position: relative;
    left: 67.5%;
    height: 8px;
    width: fit-content;
    font-size: 8px;
    background-color: lightcyan;
    padding: 8px;
    border-radius: 10px;
    border: solid 1px black;
    z-index: 1;
    opacity: 90%;
    font-family: Georgia;
    font-weight: bolder;
    margin-top: -354px;
}
.subtitle2 {
    position: relative;
    left: 16%;
    height: 8px;
    width: fit-content;
    font-size: 8px;
    background-color: lightcyan;
    padding: 8px;
    border-radius: 10px;
    border: solid 1px black;
    z-index: 1;
    opacity: 90%;
    font-family: Georgia;
    font-weight: bolder;
    margin-top: -354px;
}

.subtitle3 {
    position: relative;
    left: 67.5%;
    height: 8px;
    width: fit-content;
    font-size: 8px;
    background-color: lightcyan;
    padding: 8px;
    border-radius: 10px;
    border: solid 1px black;
    z-index: 1;
    opacity: 90%;
    font-family: Georgia;
    font-weight: bolder;
    margin-top: -354px;
}

.subtitle4 {
    position: relative;
    left: 42.5%;
    height: 8px;
    width: fit-content;
    font-size: 8px;
    background-color: skyblue;
    padding: 8px;
    border-radius: 10px;
    border: solid 1px black;
    z-index: 1;
    opacity: 90%;
    font-family: Verdana;
    font-weight: bolder;
    margin-top: -354px
}

#map {
    position: relative;
    left: 15%;
    width: 400px;
    height: 375px;
    border-radius: 10px;
}

#map1 {
    position: relative;
    left: 67%;
    width: 400px;
    height: 375px;
    border-radius: 10px;
    margin-top: -46px;
}

#map2 {
    position: relative;
    left: 15%;
    width: 400px;
    height: 375px;
    border-radius: 10px;
    margin-top: 357px;
}

#map3 {
    position: relative;
    left: 67%;
    width: 400px;
    height: 375px;
    border-radius: 10px;
    margin-top: -46px;}
#map4 {
    position: relative;
    right: -42%;
    width: 400px;
    height: 370px;
    border-radius: 10px;
    margin-top: -254px;
}

.popup_key {
font-weight: bold;
font-size:small;
}

.popup_value {
font-weight: bolder;
font-size:smaller;
}
.popup_key1 {
font-weight: bold;
font-size:smaller;}

.popup_value1 {
font-weight: bolder;
font-size:8px
}